*{
    box-sizing: border-box;
}

.header{
    background-color: #a6ec34;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    & .image{
        

        & img{
            width: 300px;
        }
    }
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    & p{
        font-size: 30px;
        font-weight: bold;
        color: #18313a;
    }

}